<app-glass-card [pointer]="false">
  <div class="flex flex-col">
    <h2 class="font-bold mb-3 transition-colors">
      {{ title }}
    </h2>
    <button (click)="copyToClipboard($event)" class="w-fit">
      <span class="mail" class="text-primary font-semibold mb-2 text-sm">
        <span class="pi pi-envelope text-xs align-middle mr-1"></span>
        {{ email }}
      </span>
    </button>
    <button (click)="copyToClipboard($event)" class="w-fit">
      <span class="phone text-sm hover:text-white transition-colors">
        <span class="pi pi-copy text-xs align-middle mr-1"></span>
        {{ phone }}
      </span>
    </button>
  </div>
</app-glass-card>
