<div>
  <div>
    <h1
      class="relative text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl"
    >
      Lucas Larangeira
    </h1>
    <h2
      class="mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl flex items-center"
    >
      <div class="glitch">
        <div class="stack" style="--stacks: 3">
          <span style="--index: 0">Software Engineer</span>
          <span style="--index: 1">Software Engineer</span>
          <span style="--index: 2">Software Engineer</span>
        </div>
      </div>
    </h2>
    <p class="mt-4 max-w-sm leading-normal">
      I build innovative and efficient web solutions to boost your business
    </p>
    <button routerLink="contact">
      <span class="pi pi-envelope mr-2 font-bold"></span>
      <span>get in touch</span>
    </button>
  </div>
  <div class="mt-16 hidden lg:block">
    <app-navigation-timeline
      (navigate)="navigate?.($event)"
    ></app-navigation-timeline>
  </div>
</div>
<div class="flex gap-4 items-center mt-8">
  <app-networks></app-networks>
</div>
