.content {
  flex: 1;
  padding: 2rem 4rem;
}

.link {
  @apply text-slate-400 text-sm transition-colors;
  font-weight: 500;
}

.link:hover {
  @apply text-cyan-400;
}

.link::before {
  @apply mr-1 text-cyan-400;
  content: attr(data-index);
}
