<div
  class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
>
  <div class="lg:flex lg:justify-between lg:gap-8 pb-12 lg:py-24">
    <div class="lg:w-1/3">
      <div class="flex flex-col mb-6">
        <app-back-link></app-back-link>
        <h1
          class="relative text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl"
        >
          Get in touch
        </h1>
      </div>
      <p class="text-sm max-w-2xl">
        Software engineer passionate about turning ideas into exceptional code.
        Let's collaborate on innovative projects. Get in touch!
      </p>
    </div>
    <div class="mt-24 lg:w-2/3 lg:mt-0">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <app-contact-bubble
          title="Hire"
          email="lukearch.sh@gmail.com"
          description="ONLY available for e-commerce and product landing pages"
        ></app-contact-bubble>
        <app-contact-bubble
          title="Collaborate"
          email="lukearch.sh@gmail.com"
          description="Available for open-source and pro-bono projects."
        ></app-contact-bubble>
      </div>
    </div>
  </div>
  <h3 id="separator" class="text-slate-400 text-center w-full text-lg">or</h3>
  <div class="flex flex-col sm:py-24 mt-12 sm:mt-0">
    <div class="text-center mb-24">
      <h1
        class="relative text-3xl font-bold tracking-tight text-slate-200 lg:text-4xl"
      >
        Send me a message
      </h1>
    </div>
    <form
      [formGroup]="contact"
      class="max-w-2xl mx-auto w-full grid grid-cols-1 sm:grid-cols-4 gap-4"
      autocomplete="on"
      (ngSubmit)="submit()"
    >
      <div class="sm:col-span-2">
        <app-text-field
          label="Your name"
          formControlName="name"
          autocomplete="name"
          [required]="true"
        ></app-text-field>
      </div>
      <div class="sm:col-span-2">
        <app-text-field
          label="Your company"
          formControlName="company"
          autocomplete="organization name"
        ></app-text-field>
      </div>
      <div class="sm:col-span-1">
        <app-dropdown-selector
          [options]="countries"
          label="DDI"
          formControlName="ddi"
          [required]="true"
        ></app-dropdown-selector>
      </div>
      <div class="sm:col-span-1">
        <app-text-field
          label="Phone"
          formControlName="phone"
          autocomplete="tel"
          [mask]="mask"
          [required]="true"
        ></app-text-field>
      </div>
      <div class="sm:col-span-2">
        <app-text-field
          label="E-mail"
          formControlName="email"
          autocomplete="email"
          [required]="true"
        ></app-text-field>
      </div>
      <div class="sm:col-span-2">
        <app-dropdown-selector
          [options]="projectTypes"
          label="Project type"
          formControlName="projectType"
          [required]="true"
        ></app-dropdown-selector>
      </div>
      <div class="sm:col-span-2">
        <app-dropdown-selector
          formControlName="deadline"
          label="Deadline"
          [options]="deadlines"
          [required]="true"
        ></app-dropdown-selector>
      </div>
      <div class="sm:col-span-4">
        <app-text-field
          label="How can I help you?"
          type="textarea"
          formControlName="message"
          placeholder="Tell me a brief description of your project"
          [required]="true"
        ></app-text-field>
      </div>
      <div *ngIf="message()" class="sm:col-span-4">
        <span
          [ngClass]="
            message()?.type === 'success' ? 'text-green-500' : 'text-red-500'
          "
          class="text-sm"
          >{{ message()?.text }}</span
        >
      </div>
      <div class="sm:col-span-4 flex justify-end">
        <app-button type="submit" [disabled]="!contact.valid" icon="pi pi-send">
          send
        </app-button>
      </div>
    </form>
  </div>
</div>
