:host {
  label {
    @apply text-sm transition-colors font-medium mb-2;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
  }

  input,
  textarea {
    @apply bg-black/20 border border-solid border-slate-100/10 py-2 px-2.5 text-sm rounded;
    transition: all 0.2s ease-out;
    width: 100%;
    appearance: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      @apply border-primary;
      box-shadow: none;

      & + label {
        @apply text-primary;
      }
    }

    &:required {
      & + label {
        &::after {
          @apply text-red-500;
          content: "*";
          margin-left: 0.2rem;
        }
      }
    }
  }

  textarea {
    resize: vertical;
    height: 100px;
    font-family: "Inter", sans-serif;
  }

  .field {
    display: flex;
    flex-direction: column-reverse;
  }
}
