@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900;
}

body::-webkit-scrollbar {
  @apply w-3 bg-transparent;
  padding: 0.5rem;
}

body::-webkit-scrollbar-track {
  @apply bg-transparent my-2;
}

body::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-md;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.btn {
  @apply bg-transparent py-2 px-4 text-cyan-400 text-sm border border-cyan-400 rounded-md hover:bg-cyan-900 transition-colors select-none;
}
