<div class="hidden sm:block select-none">
  <p-timeline [value]="experiences">
    <ng-template pTemplate="opposite" let-experience>
      <span i18n>{{ experience.interval.start }}</span>
      <span
        i18n
        [class.atual]="experience.interval.end.toLowerCase() === 'atual'"
        >{{ experience.interval.end }}</span
      >
    </ng-template>
    <ng-template pTemplate="content" let-experience>
      <app-experience-card [experience]="experience"></app-experience-card>
    </ng-template>
  </p-timeline>
</div>

<div class="block sm:hidden select-none">
  <ng-container *ngFor="let experience of experiences">
    <app-experience-card [experience]="experience"></app-experience-card>
  </ng-container>
</div>
