<div
  appTransition
  [show]="state()"
  [enterDuration]="500"
  enter="transition-opacity"
  enterFrom="opacity-0"
  enterTo="opacity-100"
  [leaveDuration]="500"
  leave="transition-opacity"
  leaveFrom="opacity-100"
  leaveTo="opacity-0"
>
  <div
    class="bg-slate-950 h-screen w-screen overflow-hidden flex items-center justify-center absolute top-0 left-0 z-50"
  >
    <img
      ngSrc="/assets/icons/logo.svg"
      alt="Lukearch"
      width="100"
      height="120.45"
      class="animate-pulse transition-transform"
      [class.scale-0]="!state()"
      priority
    />
    <img
      ngSrc="/assets/icons/logo.svg"
      alt="Lukearch"
      width="100"
      height="120.45"
      class="absolute animate-ping opacity-20 z-10 transition-transform"
      [class.scale-0]="!state()"
      priority
    />
  </div>
</div>
