<ng-container
  [appTransition]="child"
  [show]="state()"
  [duration]="300"
  enter="transition-all"
  enterFrom="opacity-0"
  enterTo="opacity-100"
  leave="transition-all"
  leaveFrom="opacity-100"
  leaveTo="opacity-0"
>
  <div
    #child
    class="bg-gray-950 h-screen w-full overflow-hidden flex items-center justify-center fixed z-50"
  >
    <img
      ngSrc="/assets/icons/logo.svg"
      alt="Lukearch"
      width="100"
      height="120.45"
      class="animate-pulse transition-transform"
      [class.scale-0]="!state()"
      priority
    />
    <img
      ngSrc="/assets/icons/logo.svg"
      alt="Lukearch"
      width="100"
      height="120.45"
      class="absolute animate-ping opacity-20 z-10 transition-transform"
      [class.scale-0]="!state()"
      priority
    />
  </div>
</ng-container>
