<a [href]="experience?.href" target="_blank">
  <app-glass-card>
    <span
      class="external-link-span absolute pi pi-external-link right-5 top-6 opacity-50 transition-opacity duration-300"
    ></span>
    <div class="pr-9 mb-4">
      <div class="mb-2 block lg:hidden">
        <span class="text-slate-500 uppercase text-xs font-bold"
          >{{ experience?.interval?.start }} -
          {{ experience?.interval?.end }}</span
        >
      </div>
      <span class="text-slate-200 font-medium block mb-1">
        {{ experience?.title }}
      </span>
      <span
        class="block text-xs uppercase tracking-wider font-medium text-lime-400/80"
        >{{ experience?.company }}</span
      >
    </div>
    <div class="mb-4">
      <p class="text-sm leading-6">
        {{ experience?.description }}
      </p>
    </div>
    <div
      class="flex flex-wrap gap-6 mb-6"
      *ngIf="experience?.externals?.length"
    >
      <ng-container *ngFor="let external of experience?.externals">
        <a
          [href]="external.href"
          target="_blank"
          class="text-slate-300 text-sm hover:text-lime-400 flex items-center"
        >
          <span class="pi pi-link mr-2 transition-colors duration-300"></span>
          <span class="transition-colors duration-300">{{
            external.display
          }}</span>
        </a>
      </ng-container>
    </div>
    <div class="flex flex-wrap gap-2">
      <ng-container *ngFor="let chip of sortedChips">
        <app-chip [label]="chip"></app-chip>
      </ng-container>
    </div>
  </app-glass-card>
</a>
