<app-loading-screen></app-loading-screen>
<app-pointer-glow></app-pointer-glow>
<div
  class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
>
  <div class="lg:flex lg:justify-between lg:gap-4">
    <app-header></app-header>
    <div class="pt-24 lg:w-1/2 lg:py-24">
      <section
        id="about"
        class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
      >
        <div>
          <p class="mb-4">
            Back in 2012, I decided to try my hand at creating custom Tumblr
            themes and tumbled head first into the rabbit hole of coding and web
            development. Fast-forward to today, and I’ve had the privilege of
            building software for an advertising agency, a start-up, a
            student-led design studio, and a huge corporation.
          </p>
          <p class="mb-4">
            My main focus these days is building products and leading projects
            for our clients at Upstatement. In my free time I've also released
            an online video course that covers everything you need to know to
            build a web app with the Spotify API.
          </p>
          <p>
            My main focus these days is building products and leading projects
            for our clients at Upstatement. In my free time I've also released
            an online video course that covers everything you need to know to
            build a web app with the Spotify API.
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
