:host {
  button {
    @apply select-none relative bg-transparent p-4 border border-solid border-slate-400 transition-colors overflow-hidden text-xs uppercase font-bold mt-6;

    span {
      @apply align-middle;
    }

    &.valid {
      &:hover {
        @apply text-black border-white after:left-0;
      }

      &:after {
        transition: all 0.2s ease-in-out;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        background-color: white;
        z-index: -1;
      }
    }
  }
}
