<ng-container
  [show]="active()"
  [appTransition]="child"
  [duration]="transitionDuration"
  enter="transition-all"
  enterFrom="-translate-y-full"
  enterTo="translate-y-4"
  leave="transition-all"
  leaveFrom="translate-y-4"
  leaveTo="-translate-y-full"
  (afterEnter)="delayMessage()"
  (afterLeave)="clear()"
>
  <button
    #child
    class="w-fit fixed left-1/2 -translate-x-1/2 z-10"
    (click)="hide()"
  >
    <div class="bg-primary px-3 py-2.5 rounded">
      <span class="text-black text-xs font-bold">
        {{ toastMessage()?.message }}
      </span>
    </div>
  </button>
</ng-container>
