<div
  class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
>
  <div class="lg:flex lg:justify-between lg:gap-4">
    <app-header [navigate]="scrollTo.bind(this)"></app-header>
    <div #content class="pt-24 lg:w-1/2 lg:py-24">
      <router-outlet></router-outlet>
      <app-content-section [root]="content" name="sobre">
        <div>
          <p class="mb-4 leading-relaxed" i18n>
            Em 2015, decidi tentar fazer modificações em arquivos de jogos e caí
            de cabeça no mundo da programação e do desenvolvimento web. Hoje em
            dia, tive o privilégio de atuar como desenvolvedor de software para
            uma
            <a href="https://www.tlmidias.com.br" target="_blank"
              >agência de marketing</a
            >, uma
            <a href="https://www.meuvidraceiro.com.br" target="_blank"
              >start-up</a
            >
            e uma grande
            <a href="https://www.softwillians.com.br" target="_blank">
              consultoria em TI </a
            >.
          </p>
          <p class="mb-4 leading-relaxed" i18n>
            Meu foco atualmente é desenvolver produtos, soluções e liderar
            projetos para a plataforma
            <a target="_blank" href="https://www.meuvidraceiro.com.br"
              >MeuVidraceiro</a
            >. No meu tempo livre também trabalho com Web Design, e crio
            produtos acessíveis e inclusivos para pequenas start-ups.
          </p>
          <p i18n>
            Quando não estou trabalhando, geralmente estou tocando instrumentos,
            desenhando, colocando mais ideias de projetos no papel ou passando
            raiva em
            <span
              id="lol-span"
              class="text-slate-300 font-medium cursor-pointer"
              (focus)="playLolPing()"
              (mouseenter)="playLolPing()"
              >Summoner's Rift.</span
            >
          </p>
        </div>
      </app-content-section>
      <app-content-section [root]="content" name="experiência">
        <app-experience-timeline></app-experience-timeline>
        <a
          href="/assets/resume.pdf"
          target="_blank"
          class="resume-link block after:content-[''] after:block after:h-px after:bg-lime-400 after:w-0 hover:after:w-full w-fit after:transition-all"
        >
          Ver currículo completo<span
            class="ml-2 text-xs pi pi-arrow-right transition-all"
          ></span>
        </a>
      </app-content-section>
      <app-content-section [root]="content" name="projetos">
        <ng-container *ngFor="let project of projects()">
          <app-project-card [project]="project"></app-project-card>
        </ng-container>
        <a
          routerLink="projects"
          class="resume-link block after:content-[''] after:block after:h-px after:bg-lime-400 after:w-0 hover:after:w-full w-fit after:transition-all"
        >
          Ver outros projetos<span
            class="ml-2 text-xs pi pi-arrow-right transition-all"
          ></span>
        </a>
      </app-content-section>
      <footer class="max-w-md pb-16 text-sm text-slate-500 sm:pb-0">
        <p>
          Construído com
          <a href="https://angular.io/" target="_blank">Angular</a>,
          <a href="https://tailwindcss.com/" target="_blank">TailwindCSS</a> e
          <a href="https://primeng.org/" target="_blank">PrimeNG</a>, hospedado
          com a <a href="https://vercel.com/" target="_blank">Vercel</a>. Todos
          os textos estão na fonte
          <a href="https://rsms.me/inter/" target="_blank">Inter</a>.
        </p>
      </footer>
    </div>
  </div>
</div>
