<div
  class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
>
  <div class="lg:flex lg:justify-between lg:gap-4">
    <app-header [navigate]="scrollTo.bind(this)"></app-header>
    <div #content class="pt-24 lg:w-1/2 lg:py-24">
      <router-outlet></router-outlet>
      <app-content-section [root]="content" name="about">
        <div>
          <p class="mb-4 leading-relaxed">
            In 2015, I decided to try making modifications to game files and
            fell headlong into the world of programming and web development.
            Nowadays, I have had the privilege of working as a software
            developer for a
            <a href="https://www.tlmidias.com.br" target="_blank"
              >marketing agency</a
            >, a
            <a href="https://www.meuvidraceiro.com.br" target="_blank"
              >start-up</a
            >
            and a large
            <a href="https://www.softwillians.com.br" target="_blank">
              IT Consultancy</a
            >.
          </p>
          <p class="mb-4 leading-relaxed">
            My focus currently is to develop products, solutions and lead
            projects for the platform
            <a target="_blank" href="https://www.meuvidraceiro.com.br"
              >MeuVidraceiro</a
            >. In my free time I also work with Web Design, and create
            affordable and inclusive products for small start-ups.
          </p>
          <p>
            When I'm not working, I'm usually playing instruments, drawing,
            putting more project ideas on paper or passing anger at
            <span
              id="lol-span"
              class="text-slate-300 font-medium cursor-pointer"
              (focus)="playLolPing()"
              (mouseenter)="playLolPing()"
              >Summoner's Rift.</span
            >
          </p>
        </div>
      </app-content-section>
      <app-content-section [root]="content" name="experience">
        <app-experience-timeline></app-experience-timeline>
      </app-content-section>
      <app-content-section [root]="content" name="projects">
        <ng-container *ngFor="let project of projects()">
          <app-project-card [project]="project"></app-project-card>
        </ng-container>
        <a
          routerLink="projects"
          class="resume-link block after:content-[''] after:block after:h-px after:bg-primary after:w-0 hover:after:w-full w-fit after:transition-all"
        >
          Checkout all my projects<span
            class="ml-2 text-xs pi pi-arrow-right transition-all"
          ></span>
        </a>
      </app-content-section>
      <footer class="max-w-md pb-16 text-sm text-slate-500 sm:pb-0">
        <p>
          Built in
          <a href="https://angular.io/" target="_blank">Angular</a>,
          <a href="https://tailwindcss.com/" target="_blank">TailwindCSS</a> e
          <a href="https://primeng.org/" target="_blank">PrimeNG</a>, deployed
          with <a href="https://vercel.com/" target="_blank">Vercel</a>. All
          texts is set in the
          <a href="https://rsms.me/inter/" target="_blank">Inter</a> typeface.
        </p>
      </footer>
    </div>
  </div>
</div>
