<a [href]="project?.href" target="_blank">
  <app-glass-card>
    <span
      class="absolute pi pi-external-link right-5 top-6 opacity-50 hover:opacity-100 transition-opacity duration-300"
    ></span>
    <div class="flex flex-col sm:flex-row gap-4 auto-cols-min">
      <div>
        <div
          class="mb-2 overflow-hidden w-32 aspect-video h-fit border-2 border-solid border-lime-400/10 rounded-md"
        >
          <img
            width="124"
            height="68"
            class="w-full h-full"
            [ngSrc]="project?.image || ''"
            alt=""
          />
        </div>
        <span class="pl-2" *ngIf="project?.gh?.repo?.url">
          <span class="text-xs mr-2 pi pi-star-fill inline"></span>
          <span class="text-sm inline">{{
            project?.gh?.repo?.stars | number: "1.0-0"
          }}</span>
        </span>
      </div>
      <div class="w-full pr-9">
        <span class="text-slate-200 font-medium block mb-2">
          {{ project?.title }}
        </span>
        <p class="mb-2 text-sm leading-6">
          {{ project?.description }}
        </p>
        <a
          [href]="project?.gh?.repo?.url"
          target="_blank"
          class="text-slate-300 text-sm hover:text-lime-400 flex items-center"
          *ngIf="project?.gh?.repo?.url"
        >
          <span class="pi pi-github mr-2 transition-colors duration-300"></span>
          <span class="transition-colors duration-300">{{
            project?.gh?.repo?.name
          }}</span>
        </a>
        <div class="flex flex-wrap gap-2 mt-4">
          <ng-container *ngFor="let chip of sortedChips">
            <app-chip [label]="chip"></app-chip>
          </ng-container>
        </div>
      </div>
    </div>
  </app-glass-card>
</a>
