/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flag-icons/css/flag-icons.min.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  @apply bg-gray-950 relative text-slate-400 overflow-x-hidden;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  @apply w-1 h-2;

  &-track {
    @apply bg-transparent;
  }

  &-thumb {
    @apply bg-primary rounded-full;
  }
}

::selection {
  @apply bg-primary/80 text-slate-700;
}
